
body {
  margin: 0;
  padding: 0;
}

#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

.headerImage {
  width: 100%;
  display: block;
}

.content {
  margin-top: 50px;
}

hr {
  border: 0;
  height: 15px;
  background-color: #fa4616;
}