.eventCard {
    max-width: 300px;
    flex: 1 1 300px;
    border: 5px solid #fa4616;
    border-radius: 20px;
    margin-bottom: 50px;
    transition: 0.3s;

    color: black;

    background-color: white;
}

.eventCard:hover {
    transform: translateY(-20px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.eventImage {
    text-align: center;
    max-width: 60%;
    max-height: 120px;
    padding: 50px 10px;
    height: auto;
}

.cardBody {
    padding: 10px 10px;
    text-align: center;
    font-size: 18px;
}

.btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #fa4616;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
}
